body{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 24px 0 24px 0;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.buttons{
  display: flex;
  gap: 20px;
  
}
.login{
  padding: 10px 20px 10px 20px;
  border: 1px solid #00b289;
  color: #00b289;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
.login:hover{
  color: white;
  background-color: #00b289;
  border-radius: 5px;
  cursor: pointer;
}
.start{
  padding: 10px 20px 10px 20px;
  color: white;
  border: none;
  background-color: #00b289;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.menu a{
    margin-left: 20px;
}

.shape{
  position: relative;
  overflow: hidden;
}

.mainTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 180px; */
    padding-top: 110px;
    padding-bottom: 40px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.togglebutton{
    display: flex;
}

.blue-shape._12 {
    top: -17%;
    /* right: -23%; */
    width: 161%;
    height: 120%;
}

.blue-shape {
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: -1;
    display: block;
    width: 56vw;
    height: 56vw;
    border-radius: 6.6vw;
    background-color: #f2faff;
    -webkit-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    transform: rotate(-310deg);
}
.tables{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  
display: flex;
    justify-content: center;
    gap: 60px;
    padding: 10px 120px 10px 120px 
  }

.table{
  border: 1px solid rgb(219, 217, 217);
  border-radius: 4px;
  background-color: white;
  padding: 30px 50px 30px 50px;
  overflow: hidden;
  position: relative;
}

.popular-tag {
  position: absolute;
  left: auto;
  top: 44px;
    right: -214px;
  bottom: auto;
  width: 360px;
  padding: 11px 100px;
  background-color: #01b289;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.priceMonth{
  display: flex;
}

.features{
  font-size: 14px;
}


.calltoaction{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  margin-top: 50px;
}

.benefits{
  display: flex;
  flex-direction: column;
  padding: 20px 120px 20px 120px;
  gap: 40px;
}

.price{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(2,4,69,.05);
}


.phrase{
  display: flex;
    background-color: #f2faff;
    justify-content: center;
    align-items: center;
    font-size: 2.75rem;
    margin-left: 22%;
    width: 60%;
    gap: 90px;
}
.accordionmenu{
  margin-top: 100px;
}
.accordionmenu h3{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#00b289;
  font-size:32px;
}

ul {
  list-style:none;
} 

#accordion button:focus{
  border-radius:0px;
  outline:none;
}
#accordion button{
    outline: none;
    background-color:white; 
    padding: 10px;   
    border:none;
    /* border-bottom: 1px solid darkslategrey;  */
    color: #4c4d5f;
    width: 100%;
    text-align:left;
    font-size:24px;
    font-weight: 700;
    border-radius:0px;
}
#accordion button:hover{
  color: #00b289;
}
#accordion li{
   /* border: 1px solid DarkSlateGray; */
  border-bottom: none;

}
.acc-item-content{
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 400;
}
.acc-item:last-child {
  /* border-bottom: 1px solid DarkSlateGray; */
}
#accordion button::after{
  content: "\002B";
  font-weight: 900;
  font-size: 22px;
  float:right;
}

#accordion{
  width:80%;
  max-width: 800px;
  min-width: 275px;
  margin:auto;
}
.acc-item-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#accordion button.active:after{
    content: "\2212";
  font-weight: 900;
  font-size: 22px;
  float:right;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00b289; 
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00b289;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00b289;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }